@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.top-container {
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); */
  /* background-color: #faf7ee; */
  width: 80vw;
  color: #00416A;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

@media only screen and (max-width: 580px) {
  .right-links {
    display: none;
  }

  .top-container {
    justify-content: center;
  }
}
